<div class="container">
<br>
<div>
    <label>Name</label> <input type="text" [(ngModel)]="newCat[0].name"> 
    <label>Race</label> <input type="text" [(ngModel)]="newCat[0].race">
    <label>Img</label><input type="text" [(ngModel)]="newCat[0].img"> 
    <button (click)=addCat()>Add</button>   
</div>

<br>    
<div>
<table class="table table-bordered">
    <tr>
        <th>First Name</th> 
        <th>Race</th>
        <th>Description</th> 
        <th>Image</th> 
        <th>buttons</th>
    </tr>
    <tr *ngFor="let cat of cats">
        <td>{{cat.name}}</td> 
        <td>{{cat.race | uppercase | convertToSpace: '-'}}</td> 
        <td>{{cat.description}}</td>
        <td (click)="setCurrentCat(cat)"><img [src]="cat.img" [style.width.px]="100"></td>
        <td>
            <button (click)="updateCat()">Edit</button>
            <button (click)="removeCat(cat)">Delete</button>
        </td>
    </tr>
</table>

</div>

<div>
    <cat-description [cat]='currentCat'></cat-description>
</div>


<div class="panel panel-primary">
    <div>
        <label>Name</label> <input type="text" [(ngModel)]="newProduct[0].name"> 
        <label>Description</label> <input type="text" [(ngModel)]="newProduct[0].description">
        <label>Brand</label> <input type="text" [(ngModel)]="newProduct[0].brand">
        <label>Price</label> <input type="text" [(ngModel)]="newProduct[0].price">
        <label>Units</label> <input type="text" [(ngModel)]="newProduct[0].units">
        <button (click)="addProduct()" class="btn btn-success">Add</button>   
    </div>
    <button (click)="actTab()" class="btn btn-default">Actualizar Productos</button>
    <hr>
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Product</th>
            <th>Description</th>
            <th>Brand</th>
            <th>Price</th>
            <th>Units</th>
            <th>Buttons</th>
        </tr>
        <tr *ngFor="let product of photos">
            <td>{{product._id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.brand}}</td>
            <td>{{product.price}}</td>
            <td>{{product.units}}</td>
            <td>
                <button (click)="updateProduct()" class="btn btn-primary">Edit</button>
                <button (click)="removeProduct(product._id)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </table>
</div>



<!-- cuadros colores
<div class="panel panel-primary">
    <div class="panel-heading"></div>
    <div *ngFor="let photo of photos">
        <img [src]="photo.thumbnailUrl" alt="">
        {{photo.id}} && {{photo.title}}
        <br>
    </div>
</div>

-->

    
</div> 



